# Dependencias (Se instalan con 'npm install', jamás se suben)
node_modules/

# Variables de entorno (Contraseñas y credenciales sensibles)
.env
.env.local
.env.production

# Archivos de registros y logs
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración del editor (Opcional)
.vscode/

# Archivos sensibles
desktop.ini
data/